*斜體文字*

In [23]:
a=1
print(a)

1

In [41]:
a=1
b=c=a
print(a)
print(b)
print(c)

1
1
1

In [42]:
a=1
b=a
a=2
print(a)
print(b)

2
1

In [44]:
a = '0123456789abcdef'
print(a[0])
print(a[3])
print(a[-1])
print(a[:])
print(a[5:])
print(a[:5])
print(a[5:10])
print(a[5:-3])
print(a[5:10:2])

0
3
f
0123456789abcdef
56789abcdef
01234
56789
56789abc
579

In [ ]:
a='hello world'
print(len(a))

11

In [ ]:
a='hello world,l am oxxo,how are you?'
b=a.split(',')
c=a.split(' ')
d=a.split()
print(b)
print(c)
print(d)

['hello world', 'l am oxxo', 'how are you?']
['hello', 'world,l', 'am', 'oxxo,how', 'are', 'you?']
['hello', 'world,l', 'am', 'oxxo,how', 'are', 'you?']

In [19]:
t=('apple','banana','orange','grap')
a,b,c,d=t
print(a)
print(b)
print(c)
print(d)

apple
banana
orange
grap

In [20]:
t=('apple','banana','orange','grap')
print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple
banana
orange
grap

In [45]:
t1 = ('apple','banana','orange')
t2 = ('grap','pineapple')
t=t1+t2
print(t)

('apple', 'banana', 'orange', 'grap', 'pineapple')

In [27]:
a=2
b=3
if a>b:
  print('hello')
print('ok')

ok

In [28]:
a=2
b=3
if a>b:
  print('hello')
else:
  print('world')
print('ok')

world
ok

In [29]:
a=2
b=3
if a<b:
  print('a<b')
if a==1:
  print('a=1')
if a==1:
  print('a=2')
if a==1:
  print('a=3')
elif  a>b:
  print('a>b')
else:
  print('a=b')
print('ok')

a<b
a=b
ok

In [32]:
a=2
b=3
c=0
if  a>b or  a<c and a==2  or  b==4:
  print('ok1')
else:
  print('xxx')

xxx

In [46]:
for i in 'abc':
  print(i)

a
b
c

In [33]:
for a in['x','y','z']:
  for b in [1,2,3]:
    print(b)
print(a)

1
2
3
1
2
3
1
2
3
z

In [34]:
for a in['x','y','z']:
  for b in [1,2,3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [37]:
i = []
for t in range(10):
  t+=1
  i.append(t)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
try:
  a=input('輸入數字:')
  print(a+1)
except:
  pass
print('hello')

輸入數字:1
hello

In [22]:
a = set()
b = set([1,2,3,4,5,1,2,3,4,5])
c = set({'x':1,'y':2,'z':3})
d = set('hello')

In [40]:
a = []
for i in  range(1,10):
  a.append(i*i)
print(a)
b=[j*j  for j in  range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
a = dict(name='oxxo', age=18, eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [ ]:
a=['apple','banana','orange']
b=[1,2,3,4,5]
c=['apple',1,2,3,['dog','cat']]
d=list('apple')